.categoryInput {
    border-radius: 20px;

    input {
        padding: 10px 16px;
        border-radius: 16px;
    }

    button {
        height: 44px;
        width: auto;
        padding: 10px 16px;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        border-left-color: rgba(0, 0, 0, 0);
    }
}
