@import "/src/styles/variables";

.addWithMenu {
    height: 64px;
    margin-bottom: 1rem;
    padding-right: 10px;

    &__item {
        transition: all 0.3s linear;
        padding-left: 10px;

        &__button {
            height: 64px;
            border-radius: 16px;
            border: 1px dashed $color-primary;
            color: $color-primary;
            transition: all 0.1s linear;

            &:hover {
                background: $color-primary;
                cursor: pointer;
                color: white;

                path {
                    stroke: white;
                }
            }
        }
    }
}

.add {
    height: 64px;
    margin-bottom: 1rem;
    border-radius: 16px;
    border: 1px dashed $color-primary;
    color: $color-primary;
    transition: all 0.1s linear;

    &__item {
        &__button {
            height: 64px;
        }
    }

    &:hover {
        background: $color-primary;
        cursor: pointer;
        color: white;

        path {
            stroke: white;
        }
    }
}
