@use "./mixins";
@import "./variables";

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: none;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border-right: none;
}

.ant-menu-inline.ant-menu-root .ant-menu-item {
    border-radius: 16px;
}

.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 2rem;
}

.ant-menu-item-selected {
    border: 1px solid $color-primary;
}

.ant-layout-sider-children {
    @include mixins.flex(unset, center, column);
    width: 100%;
}

.ant-list-split .ant-list-item {
    border-bottom: none;
}

.ant-statistic-content {
    color: $color-primary;
    font-size: 1.8rem;
}
