@use "/src/styles/mixins";

.post {
    height: 100px;
    padding: 16px;

    &__title {
        box-sizing: border-box;
        padding-right: 10%;
    }

    &__completitionPeriod {
    }

    &__enrolled {
        @include mixins.flex(center, center, row);

        &__stat {
            height: 40px;
            font-size: 1.8rem;
            padding: 8px 16px;
            background: #f0effd;
            border-radius: 8px;
        }
    }

    &__candidates {
        // @include mixins.flex(center, center, row);
        height: 100%;
        width: 100%;
        padding: 5px 15px;
    }

    &__icons {
        @include mixins.flex(center, center, row);
    }
}
