@import "/src/styles/mixins";
@import "/src/styles/variables";

.teamTypeCard {
    border-radius: 20px;
    padding: 16px;

    &--checked {
        border-color: $color-primary;
        background: #edeaff;
    }

    &--disabled {
        color: rgba(0, 0, 0, 0.25);
        border-color: #d9d9d9;
        background: #f5f5f5;
        text-shadow: none;
        box-shadow: none;
    }

    &__checkbox {
        @include flex(flex-end, center, row);

        &__input {
            span[class="ant-checkbox-inner"] {
                border-radius: 50%;
            }
        }
    }

    &__icon {
        @include flex(flex-start, center, row);
    }
}
