@use "/src/styles/mixins";

.header {
    height: 100px;

    &__title {
        margin-bottom: 0 !important;
    }
}

@include mixins.respond(desk-small) {
    .header {
        height: 60px;
    }
}
