@use "/src/styles/mixins";

.insights {
    height: 250px;
    border-radius: 16px;

    &__summary {
        background: #f6f5f9;
        padding: 16px;
        border-radius: 16px;
        height: 100%;

        &__title {
            font-size: 2rem;
        }

        &__text {
            font-size: 1.4rem;
        }
    }

    &__details {
        padding-left: 5px;

        &__timeline {
            padding: 8px;
            border-radius: 12px;
            background-color: #f2f2f2;
            height: 48px;
        }

        &__graphics {
            @include mixins.flex(flex-start, center, row);
            height: calc(100% - 48px);
            width: 100%;

            & > div {
                height: 100% !important;
                width: 100% !important;
            }

            & svg {
                width: 100% !important;
            }

            & #-axis-label-Monday {
                transform: translate(8%, 0);
            }

            & #-annotation-text {
                transform: translate(8%, 0);
            }
        }
    }

    @include mixins.respond(desk-small) {
        // height: 200px;

        &__summary {
            padding: 10px 16px;
            // height: fit-content;

            &__title {
                font-size: 1.7rem !important;
            }

            &__text {
                font-size: 1.2rem;
            }
        }
    }
}

.insights__details__graphics + #-grid-line-0 {
    stroke: red;
}
